# Created by .ignore support plugin (hsz.mobi)
### ChefCookbook template
.vagrant
#/cookbooks

# Bundler
#bin/*
.bundle/*

.kitchen/
.kitchen.local.yml


.idea/workspace.xml

divelogger-app/test/integration/data_bags/settings/env.json

divelogger-mongo/test/integration/data_bags/settings/env.json

.idea/misc.xml
